@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
  min-height: 100%;
}

nav.nextra-toc {
  display: none !important;
}

.nextra-nav-container a:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(247,247,248,var(--tw-bg-opacity))
}

.text-white {
  color: white !important
}

article {
  padding: 0 0 !important;
  /* background-image: linear-gradient(rgb(243, 244, 246), rgb(209, 213, 219)); */
  background-color: #f9fafb;
}

article main{
  max-width:100% !important;
}

div .nx-block{
  display: none !important;
}

div.nx-mx-auto {
  max-width: 100% !important
}

aside .sign-in {
  display: flex;
  margin-bottom: 10px;
  background: black;
  border-radius: 20px;
  color: white;
  justify-content: center;
  padding-block: 0.25rem;
}

aside .sign-in a {
  color: white;
}

aside .display-grid {
  display: grid;
}

.nextra-search{
  display: none !important;
}

.dark-bg-444654{
  --tw-bg-opacity: 1;
  background-color: rgba(68,70,84,var(--tw-bg-opacity));
}

.dark-border-900{
  border-color: rgba(32,33,35,.5);;
}

.bg-vert-dark-gradient{
  background-image: linear-gradient(180deg,rgba(53,55,64,0),#353740 58.85%);
}


/* ::-webkit-scrollbar {
  width: 10px;
  height: 10px;
} */

/* Handle */
/* ::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 5px;
} */

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: #555; 
} */

.scrollable-content {
  position: relative;
  overflow: auto;
  height: 100%;
}

/* Custom scrollbar */
.scrollable-content::-webkit-scrollbar {
  width: 10px;
}

.scrollable-content::-webkit-scrollbar-track {
  background: transparent;
}

.scrollable-content::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 8px;
  background-clip: content-box;
}

.scrollable-content::-webkit-scrollbar-thumb:hover {
  background-color: grey;
}

body {
  overflow: hidden;
  width: 100%;
  height: 100%;
}